.current_container {
  width: 450px;
  height: 610px;
  margin: auto;
  transform: translateY(-5);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.4), 0 12px 60px 0 rgba(0, 0, 0, 0.3);
  background-color: rgb(112, 122, 139);
  border-radius: 1rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 14px;
  display: flex;
}
.current_container_top {
  display: flex;
  /* padding-top: 10px; */
  justify-content: center;
}
.current_top_section img {
  width: 90px;
  height: 90px;
  display: flex;
  /* text-align: center;
  align-items: center;
  justify-content: center; */
  margin-left: 7rem;
}
.current_location_name {
  color: white;
  font-size: 1.5rem;
  padding-top: 20px;
  text-transform: uppercase;
}
.current_temperature {
  display: flex;
  color: white;
  padding-top: 10px;
  font-size: 1.5rem;
  justify-content: center;
}
.current_weather_description {
  display: flex;
  color: white;
  font-size: 1.2rem;
  padding-top: 10px;
  text-transform: uppercase;
  justify-content: center;
}
.current_time {
  display: flex;
  color: white;
  font-size: 1.5rem;
  justify-content: center;
}
.current_temp_details {
  gap: 20px;
  display: grid;
  flex-wrap: wrap;
  margin-top: 30px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.current_humidity {
  color: white;
  font-size: 1.2rem;
}
.current_wind {
  color: white;
  font-size: 1.2rem;
}
.current_pressure {
  color: white;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
}
.press_text{
  text-transform: uppercase;
font-size: 0.9rem;
}
.cureentWeather_element {
  gap: 12px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  height: 110px;
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  flex-direction: column;
  background-color: rgb(67, 100, 100);
}
.cureentWeather_element img {
  width: 20px;
  height: 20px;
  display: flex;
  margin-left: 4rem;
  filter: grayscale(0%);
  animation-name: motion;
  animation-duration: 4s;
  filter: brightness(20);
  transition: filter 0.3s ease;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
