.current_container {
  width: 450px;
  height: 510px;
  margin: auto;
  transform: translateY(-5);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.4), 0 12px 60px 0 rgba(0, 0, 0, 0.3);
  /* background-color: rgb(112, 122, 139); */
  border-radius: 1rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 14px;
  display: flex;
}
.current_top_section img {
  width: 90px;
  height: 90px;
  display: flex;
  margin: 0 auto;
}
.current_location_name {
  color: white;
  font-size: 1.5rem;
  margin-top: -30px;
  text-transform: uppercase;
}
.current_temperature {
  display: flex;
  color: white;
  font-size: 1.5rem;
  justify-content: center;
}
.current_weather_description {
  display: flex;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  justify-content: center;
}
.current_img_top{
  display: flex;
  font-size: 1.2rem;
  text-transform: uppercase;
  justify-content: center;
}
.current_time {
  display: flex;
  color: white;
  font-size: 1.5rem;
  justify-content: center;
}
.current_temp_details {
  gap: 20px;
  display: grid;
  flex-wrap: wrap;
  /* margin-top: 30px; */
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.current_humidity {
  color: white;
  font-size: 1.2rem;
  padding-top: 10px;
}
.current_wind {
  color: white;
  font-size: 1.2rem;
  padding-top: 10px;
}
.current_pressure {
  color: white;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
}
.press_text {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: white;
  padding-top: 5px;
}
.currentWeather_element {
  margin: 0 auto;
  flex-wrap: wrap;
  width: 150px;
  height: 110px;
  padding:10px;
  border-radius: 10px;
 justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(67, 100, 100);
}
.currentWeather_element img {
  width: 20px;
  height: 20px;
  display: flex;
  margin: 0 auto;
  filter: grayscale(0%);
  animation-name: motion;
  animation-duration: 4s;
  filter: brightness(20);
  transition: filter 0.3s ease;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media screen and (max-width: 600px) {
  .current_container {
    width: 100%;
  }
  .currentWeather_element {
    width: 100%;
  }
  .current_img_top{
    margin:auto;
    width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;    
  }
  .currentWeather_element img{
  margin: 0 auto;
  }
}
