.top-bar{  
    color:black;
    /* padding: 0 5rem; */
    display: flex;
    height: 60px;
   justify-content: center;
   align-items: center;
    
}
.top-bar-head{
    display: flex;
    justify-content: center;
    font-size: larger !important;
    height: 100%;
    align-items: center;
    
}
.top-bar-head h1{
    font-size: 1em ;
    transform: translateY(3px);
    justify-content: center;
    align-items: center;
}

.top-bar-head-icon{
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding-left: 0.5rem;
    padding-right:0.5rem;
    justify-content: center;
   align-items: center;

    background-color: transparent;
}
@keyframes rotate {
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}